table {
    margin: auto;
    width: 800px;
    border: 4px solid palevioletred;
    background-image: url(background.png);
    text-align: center;
    vertical-align: middle;
}
#first_number {
    text-align: right;
}
#second_number {
    text-align: left;
}
.progress_color{
    background-color: bg-danger;
}
.text {
    color: rgb(12, 12, 12);
}